[2015-03-03 13:13] densh opened #1 "Scala.js build"
Initial part of the work has already been done with 32/64 split refactoring. Now it mostly comes down to changing the build so that x64 package is not included there. Initial port can use `ByteBufferMemory` but later we might use typed arrays to avoid indirection.

[2015-03-13 20:36] densh opened #2 "Revive x32 package"
x32 package is going to have 32-bit-addressable memory implementations that's going to be used as abstraction over byte buffers and javascript's typed arrays.

[2015-03-13 20:37] densh opened #3 "Revive unchecked mode"
In unchecked mode offheap classes are going to be desugared to value classes over `Addr` rather than `Ref`. Memory accesses will also become direct calls to unsafe. For this to work such classes will take more restricted kind of memory that guarantees that addresses are in fact physical addresses rather than virtual ones. This would improve performance at expense of safety.

[2015-03-13 20:52] densh opened #4 "Consider adding support for references to on-heap objects"
Should be implementable with the help of JNI's global references that let one mark objects as non-collectable for a fixed period of time. It's not clear if overhead and distribution complications are going to be worth it.

[2015-03-13 21:11] densh opened #5 "Consider adding some form of generics"
We can't use standard Scala generics due to the fact that we can't efficiently refer back to GC-collected objects. Even if we implement JNI-based global reference pinning it is likely going to be quite expensive due to JNI overhead.

Currently built-in data structures like `Array[T]` use macro-all-the-way approach as a means to effectively specialise all operations. Unfortunately this approach is

[2015-03-13 21:37] densh opened #6 "Travis build"

[2015-03-15 00:22] #3 closed, assigned to nobody

[2015-03-15 00:24] densh opened #7 "Add unchecked arrays"
Currently arrays always wrap around Ref object. It might be desirable to have a version that only works on `NativeMemory` and accesses unsafe directly similarly to unchecked mode for offheap classes.

[2015-03-17 20:39] densh opened #8 "Add support for allocation and field alignment"
Apparently some hardware architectures like SPARC entirely miss support for unaligned memory access. This means that we need to add option to align fields in data classes and their allocations.

[2015-03-17 20:59] densh opened #9 "Consider adding support for off-heap vectors"
Continuos arrays are not a perfect match for paged regions (due to maximum allocation size restriction.) To make it easier to work with collections of data in regions we can introduce a different collection (e.g. Vector) that stores data in linked (potentially tree-based) groups of small arrays that fit well in pages.

[2015-03-17 23:53] JohnMurray commented on #6
got a good set of tests working here: https://travis-ci.org/JohnMurray/scala-offheap/builds/54799409 (from #12)

[2015-03-17 23:58] JohnMurray opened #13 "somewhere to discuss project"
Have you thought about setting up an IRC channel or using something like [Gitter](https://gitter.im/) (really popular with hipster developers these days)? Just thinking there could be some real interesting conversation around a project like this and it would be nice to have it in a central place that is easy to talk in / read.

If you use Gitter, you can put some cute badge on your `README.md` so

[2015-03-18 16:38] velvia opened #15 "UTF8 string serialization"
Strings form a large portion of many objects.  Just storing a pointer to the on-heap String object is not a practical way to reduce GC pressure.  Instead, how about having a UTF8-based string wrapper class that can offer support for basic operations:

    equals()
    startsWith()
    maybe contains()

other more complex methods can be delegated to the native Java/Scala string class by serializing

[2015-03-18 20:23] densh opened #16 "Add Scala CLA validator"
It was brought up to my attention that it's quite important to maintain a [Scala CLA](http://typesafe.com/contribute/cla/scala) to eliminate potential legal issues. I plan to add automatic validator soon, and for now check it myself.

[2015-03-18 23:01] densh commented on #15
I think that having support for offheap stirngs is a great idea. I'm not sure about details of the implementation yet, but I'll update the issue once I have some more concrete thoughts on the topic.

[2015-03-18 23:06] densh commented on #13
Sounds great, lets do that.

[2015-03-18 23:06] #13 closed

[2015-03-18 23:20] densh opened #19 "Consider backporting the library to 2.10"
At the moment scala-offheap only works on 2.11 only. If it won't complicate the code too much it might be worth it to back-port the library to 2.10. If you want this to happen sooner rather than later please comment on this issue.

[2015-03-20 23:47] andrebeat commented on #15
I agree that the conversion to `String` is indeed expensive and incurs an unnecessary object allocation. Still, you'll have a hard time beating the performance of `String#equals()` since the JVM has an intrinsic method that uses [SSE4.2](http://en.wikipedia.org/wiki/SSE4#SSE4.2) instructions to do the comparison. You might be able to use `Arrays.equals` (which is also intrinsic) but then you'd inc

[2015-03-21 03:41] velvia commented on #15
Unsafe has memcopy, too bad it doesn't have memcompare... :(

-Evan
"Never doubt that a small group of thoughtful, committed citizens can change the world" - M. Mead

[2015-03-21 16:32] densh commented on #15
I think JNI might be the answer here. Considering the fact that we don't need to copy any data over (as the data is already effectively allocated in C heap) we wouldn't have much performance overhead. Of course we need to benchmark to validate this.

[2015-03-23 16:02] densh commented on #6
Fixed in #12

[2015-03-23 16:02] #6 closed

[2015-03-30 12:54] densh opened #22 "Consider adding a simple effect checker for safe vs unsafe"
Rust has an excellent way to explicitly demarcate parts of API that are not memory safe: [unsafe blocks and unsafe functions](http://doc.rust-lang.org/0.11.0/guide-unsafe.html). The combination of two lets one to be sure that the code you're writing is memory safe as long as you don't use unsafe parts. And when you do it's going to be explicitly visible which parts are not safe.

I've prototyped a

[2015-03-31 09:00] sirinath opened #23 "Annotation less definition"
Defining whether an object is on heap or off heap using annotation at the point of definition is not very continent:

 - Case class can be defined in another library
 - You need to use both on heap and off heap version

So the decision if you need a on heap or off heap object should be ideally left to the point where you allocate the object

[2015-03-31 09:18] densh commented on #23
Unfortunately at this moment in time it's not possible to do this without changing the language. The goal of `scala-offheap` right now is to be the best *library* for off-heap memory. If the situation changes (e.g. more language extension points are exposed) we might change the way we do off-heap classes. I believe that annotations are the best way to do this right now even though they make it imp

[2015-03-31 09:18] #23 closed

[2015-03-31 09:26] densh commented on #23
**p.s.** One of the reasons to use annotations is a clean way to give user feedback if his class can not be used off-heap (and why precisely). There are quite a few restrictions right now. For example inability to have references from off-heap to on-heap types, limited kinds of definitions that be nested in off-heap classes etc.

[2015-03-31 09:49] sirinath commented on #23
Cann't you have something like

`val a = Alloc[A]`?

[2015-03-31 10:47] densh commented on #23
Macro annotation generates quite a lot of class-specific low-level code that is necessary to make off-heap classes work. Outside of macro-annotations there is no easy way to generate a definition and re-use it across multiple allocation call-sites. Not only you can't share generated you also can't get an AST of the class outside of current compilation unit which is necessary for rewriting.

[2015-03-31 12:19] sirinath commented on #23
What I was thinking was in the line of having off heap allocators than treating / handling on heap and off heap objects differently. I don't know this might work in your case.

[2015-03-31 15:12] densh commented on #23
Off-heap and on-heap are completely different on byte-code level. On-heap classes are regular JVM classes and off-heap ones are value classes over offfheap references. Generation of the value-class based representation can only be done with macro annotation (as it's the only practical way to do the required code generation at the moment.) We might explore unification of off-heap and on-heap classe

[2015-03-31 16:06] sirinath commented on #23
Just food for thought. Thinking through how to do this in an unified way from the start maybe the best way to get about it. Wouldn't looking into be able to use on heap for off heap also be the better and easier way to go? Also no need to restrict your self to value classes. Maybe there is a different but easier way to do this.

[2015-03-31 16:27] densh commented on #23
I'm quite certain that unification is not possible without changing the compiler and that's out of scope at the moment. It might be easier to change the language but we can't just add functionality on the whim, Scala is quite a big language already. Instead we'll do our best at making a nice *library* that makes due with tools we already have like macros, implicits, value classes etc.

[2015-03-31 16:30] sirinath commented on #23
OK

[2015-03-31 18:08] virtualirfan commented on #23
There were a bunch of nuggets in this thread that should end up on the wiki
or README. Copy paste? :-)

Irfan
On Mar 31, 2015 9:30 AM, "Suminda Dharmasena" <notifications@github.com>
wrote:

[2015-03-31 19:28] densh commented on #23
I've just enabled support for wikis, feel free to add stuff there.

[2015-04-07 13:18] densh commented on #8
Almost done with this one.

[2015-04-07 13:21] densh commented on #2
Currently thinking of dropping x32 completely for now (i.e. leave it out of 0.1) as it slows down the development and it's not clear how to do it without code duplication. The biggest motivation for this was to have a scala.js compatible build. Current 64-bit implementation won't be efficient due to the fact that javascript doesn't have native support for longs and they have to emulated through a

[2015-04-08 17:33] flock0 opened #24 "Support for offheap Arrays in @data-classes"
I have been trying to use offheap Arrays as fields in @data-classes, for example:
`@data class Blah(arr: Array[Int])`

Currently I receive the following error message when trying to do that:
[code]

[2015-04-09 08:50] densh commented on #24
Thanks for the bug report, I'll have a look at it today.

[2015-04-09 09:18] #24 closed

[2015-04-09 10:03] amirsh commented on #24
:+1:

[2015-04-13 13:46] densh opened #26 "Data classes with _N field names fail with unintuitive error"
[code]
The failure is to be expected but the error message could be made much nicer.

[2015-04-24 14:29] densh opened #28 "Consider adding support for packed field layout"
Currently fields are layed out sequentially and padded as required by the data types they are holding. It would be great to also support `packed` layout where user tells the library that order of the fields doesn't matter and that they can be reordered to decrease the size. E.g.
[code]

[2015-04-24 14:32] densh opened #29 "Consider adding support for allocation with given alignment"
Currently all allocations are aligned at least to 8 bytes boundaries. For some use cases (e.g. vectorized instructions) it's necessary to align to 16 bytes boundaries. One might also want to align to cache line size boundary for parallel workloads.

To support this we can extend `allocate` method to take alignment as an additional implicit parameter. Alignment would be just a simple single-field v

[2015-04-24 14:35] densh commented on #8
Fixed in https://github.com/densh/scala-offheap/pull/27

[2015-04-24 14:35] #8 closed

[2015-04-24 14:57] densh opened #30 "Add support for pickled fields"
Introduce a new special kind of fields that would let one transparently serialize and deserialize on-heap objects:

[code]

Whenever a pickled field is written it would use an implicit serializer to convert objects to bytes and move those bytes to an off-heap array. Reading would materialize on-heap version on every access.

Serialisation mechanism is going to be based on implicit class that would

[2015-04-24 14:58] densh commented on #30
Another alternative for the UI is to put pickles into some generic container type:
[code]
It would let one add extra functionality on `Pickle[T]` type but would make it a bit harder to use.

[2015-04-24 15:54] densh opened #31 "Expand documentation to cover basic functionality and use-cases"

[2015-05-06 16:00] densh commented on #2
I've decided to focus efforts purely on x64. We might revisit this decision if some compelling use case arises.

[2015-05-06 16:00] #2 closed

[2015-05-06 16:03] densh commented on #1
32/64 split is no more. The default API is 64 bit only. A new plan is to hijack definitions of `Addr` and `Size` to be `Int`s on scala.js.

[2015-05-06 16:03] #7 closed

[2015-05-18 10:36] densh opened #33 "Consider making zero-field data classes not allocate anything"
This has been [previously explored in rust](http://www.wabbo.org/blog/2014/03aug_09aug.html). Effectively zero-size data classes would become first-class equivalent of `Unit`. Allocation would not call `allocate` on allocator as followers of zero-size types are never followed. Fields of zero-size types are also zero-size making it very useful feature to augment specialisation.

Unfortunately this

[2015-05-18 10:38] DarkDimius commented on #33
I'd say that as zero-size data classes are observationally equivalent, they can simply be replaced by singleton objects. Which could be either stored on-heap or off-heap.

[2015-05-20 12:19] densh commented on #29
Once we have that we can also try aligning data structures by the alignment of their biggest field to reduce padding waste.

[2015-05-20 12:24] densh opened #35 "Make it possible to disable checks in fine-grain fashion"
Currently you can either have all checks turned on or none (`-Doffheap.unchecked`). This is a bit too coarce and it would be nice to be able to disable only some of them (e.g. only bounds checks, or only null checks etc.)

[2015-05-20 12:25] densh commented on #9
Another idea: Instead of making arrays more complicated we can just allocate larger arrays directly from system memory and free them once region ends. This would put them on slow path but won't require users to specially structure their code to fit into region page system.

[2015-05-20 13:59] #35 closed

[2015-05-21 08:56] densh commented on #9
Yet another idea: Use variable-size pages in memory pooling layer. This way region can just request for page as big as necessary to allocate large array.

[2015-05-21 09:04] DarkDimius commented on #9
By doing this you're just offloading the same problem to OS allocator. It's likely to be more capable of solving it, but the problem still persists.

[2015-06-01 09:43] flock0 opened #39 "Support for ArrayOps functionality?"
Is there the possibility / an easy way of supporting the various methods from ArrayOps?

[2015-06-01 10:43] densh commented on #39
Unfortunately that would trigger boxing twice on every operation. Our current strategy is to re-implement all of the methods people care about ourselves. What methods are you missing?

[2015-06-01 11:18] flock0 commented on #39
The most important ones would be (in order of importance):
* filter
* map
* foldLeft
* sameElements
* endsWith

[2015-06-01 11:34] densh commented on #39
`map` is already implemented. The rest are now on my to-do list.

[2015-06-01 11:37] flock0 commented on #39
Thank you!

[2015-06-03 14:06] densh opened #43 "Publish snapshots to sonatype"

[2015-06-03 15:10] #26 closed

[2015-06-04 10:42] #43 closed

[2015-06-05 10:15] densh opened #47 "Add support for fixed sized arrays"
They would be embeddable into offheap classes as they are fixed size. The length would be statically known which can improve performance of some of the operations. As length is known there would be no need to store in the header of the allocated data.

From the point of view of API it would probably look something along the lines of:

[code]
Where `_3` is some encoding of type-level integers (prob

[2015-06-08 12:03] densh opened #49 "Consider adding support for big arrays"
Our current arrays were downgrades from `Long`-sized to `Int`-sized due to the fact that this improves  iteration performance. It would be nice to also support additional type of arrays that trade off that extra bit of performance for ability to have larger allocations. Implementation should be mostly trivial considering that we've already refatored the size out.

[2015-06-08 13:44] densh opened #52 "Consider changing package name"
Current package name might be a bit too short. We should consider making it more qualified for `0.1`.

[2015-06-08 13:53] densh commented on #52
Currently candidate #1 is "scala.offheap".

[2015-06-08 14:24] #52 closed

[2015-06-08 21:06] densh opened #54 "Array.apply and Array.update should check for null"
It massively complicates implementation and causes bugs like this:

[code]

We need to properly allocate zero-length arrays and not treat nulls specially.

[2015-06-08 21:59] densh opened #55 "Default arguments for region props are error-prone"
Memory pool is a heavy-weight resource that should be managed carefully. Having one created automatically is a dangerous thing as it's possible to accidentally create lots of them without noticing it.

[2015-06-09 14:23] DarkDimius commented on #55
:+1:

[2015-06-11 14:31] flock0 opened #58 "Document why nulls can not be assigned to off-heap classes"
Right now it's not possible to assign `null` to a variable of a `@data` class. Is this intentional?

Example that leads to a compile time error:
[code]

[2015-06-12 09:05] densh commented on #58
Hi Florian, this is a side-effect of off-heap classes being compiled down to value classes. An equivalent of  `null` for value class `C` is `C.empty`. It's an automatically generated helper that gives you null-like value for given type.

I'll keep this issue open until I cover this topic in the documentation.

[2015-06-12 13:56] densh opened #59 "malloc should throw OutOfMemoryError"
Right now `malloc` just redirects to underlying malloc without doing proper error checking.

[2015-06-13 17:19] arosenberger commented on #59
Hi Denys,

The native implementation for the Unsafe.allocateMemory call should do this for you [and is documented in the Unsafe API as well]. The relevant code snippet is here:

  void* x = os::malloc(sz);
  if (x == NULL) {
    THROW_0(vmSymbols::java_lang_OutOfMemoryError());
  }

So I don't think you need to do anything explicit in the malloc.scala code, unless you want to catch the OOME and do

[2015-06-13 17:21] arosenberger commented on #39
Hi Denys,

I can take this into a branch and work on it in parallel while we flush out the remaining jemalloc implementation.

[2015-06-13 17:26] arosenberger commented on #15
Hi Denys,

With the jemalloc JNI binding, we can add utility functions as well to expose low level operations from <cstring> or potentially SIMD instructions. I think for the latter case we might have to be careful as to chipset family for the target platforms. I can dig into some of the hotspot code from openjdk and check their implementation. For now I can put this work into a parallel branch wh

[2015-06-13 18:56] densh commented on #15
@arosenberger Please don't use GPL code bases as a reference. We use Scala license (3-clause BSD derivative) for our code and can only borrow implementation ideas from software with compatible license. Otherwise we might get in to legal trouble some day even if we don't borrow any code. (Note to self: this really needs to be documented somewhere.)

[2015-06-13 18:59] densh commented on #59
@arosenberger I'll double check on Monday. At least it needs a test to make sure that it does throw an exception if obscene amount of memory is requested.

[2015-06-13 19:01] densh opened #60 "Document license compatibility in contributor guide"
As mentioned in https://github.com/densh/scala-offheap/issues/15#issuecomment-111740399 we need to document the fact that we can't borrow code from GPL code bases in our docs.

[2015-06-13 19:02] densh commented on #31
I'm currently working on this one. There is a rough draft already on the wiki but it's very much WIP and not complete yet.

[2015-06-13 19:04] densh commented on #39
Sounds good. Implementation of the current array methods is in [macros/Array.scala](https://github.com/densh/scala-offheap/blob/master/macros/src/main/scala/offheap/internal/macros/Array.scala). There isn't much documentation on internals yet so let me know if something is not clear.

[2015-06-13 19:07] densh commented on #15
@arosenberger I think that we need to concentrate on getting 0.1 out before we proceed with this. I'm afraid there are lots of corners cases in string support and it will take a while to get it right.

[2015-06-13 19:08] densh commented on #59
@arosenberger Does jemalloc binding throw OutOfMemoryError?

[2015-06-13 20:07] arosenberger commented on #59
I believe I have it throw IllegalArgumentException - I can make it switch to OOME.

[2015-06-13 20:10] arosenberger commented on #15
Thanks for the heads up on the GPL. I'll focus on finishing up jemalloc and adding the ArrayOps methods from the other issues. We can revisit this one down the road.

[2015-06-15 11:03] densh opened #61 "Introduce jemalloc allocator bindings"
This a ticket to document things that need to be done to merge [topic/jemalloc](https://github.com/densh/scala-offheap/commits/topic/jemalloc) branch.

* [x] modularize jemalloc into separate subproject
* [x] teach build infrastructure to automatically fetch and build latest jemalloc
* [x] decide if we want to support JDK6
* [x] decide if we want to support 32-bit environments
* [x] `jemalloc.allo

[2015-06-15 14:35] flock0 commented on #58
Ah, I overlooked that, thanks!

[2015-06-15 15:01] densh commented on #54
On the other hand if we decide to keep java-like semantics it means that we'll need two separate checks `isEmpty` and `isNull` plus a separate `Array.null[T]` helper which would massively complicate API. Moreover for consistency the same method to be added to off-heap classes but we'll still need isEmpty combinator for name-based patter matching.

It's probably better to keep the complexity on the

[2015-06-15 16:20] densh commented on #61
@arosenberger maybe we can use something like git submodules to include jemalloc into our repo. I think [this is how Rust does it](https://github.com/rust-lang/rust/tree/master/src).

[2015-06-15 17:20] #59 closed

[2015-06-15 17:26] #54 closed

[2015-06-16 09:38] densh commented on #47
This depends on #39 as we need to implement operations we care about on regular arrays first. Some of them where output size of the array is smaller than input size are going to be quite problematic as one would have to express size changes in the types for it to work. I think I underestimated complexity of the implementation here and we should wait for 0.1 to happen first.

[2015-06-16 12:55] densh opened #66 "@enum classes must contain isEmpty and nonEmpty helpers"
They are not generated now and this inconsistency is quite annoying.

[2015-06-16 12:57] densh opened #67 "@enum classes must correctly dispatch toString"
Currently toString is just a default value class implementation that tells you nothing about the value it holds.

[2015-06-16 13:02] arosenberger commented on #61
@densh is there a way to get Travis to run tests against a 32 bit image? I am working on the offheap.Size <-> size_t code and tests but only have a 64 bit that I develop on

[2015-06-16 13:11] densh commented on #61
@arosenberger It looks like [32-bit travis environments are not supported](https://github.com/travis-ci/travis-ci/issues/986) at the moment. I think it's reasonable to not support 32-bit at first if it's troublesome but this needs to be documented.

[2015-06-16 14:34] #66 closed

[2015-06-16 17:14] densh commented on #67
Was fixed in https://github.com/densh/scala-offheap/pull/68

[2015-06-16 17:14] #67 closed

[2015-06-17 11:51] arosenberger commented on #61
I can add the size checks to the jni binding and add a unit test at least for x64 that [signed] long max value doesn't get truncated. We could potentially just spin up a 32 bit vm manually and perform the tests - not a repeatable CI, but provides verification at least.

We could also consider adding logic on the java side of things to test whether the os is x86 or x64 and warn / throw if the check

[2015-06-17 12:19] densh commented on #61
Unfortunately if we neither CI nor use it regularly for development we can't really claim that it works. I think that for now we can put a static assert that checks that checks that build is happening on 64-bit system with comment explaining that x86 is not supported at the moment.

[2015-06-17 12:26] densh commented on #61
64-bit tests that checks if it works properly in age cases is always welcome of course.

[2015-06-17 12:33] #58 closed

[2015-06-17 12:33] densh commented on #31
First draft is available now on the wiki https://github.com/densh/scala-offheap/wiki

[2015-06-17 13:29] arosenberger commented on #61
I will add a static assert to the jni binding and some additional logic / unit tests to the wrapper. Unfortunately I think the tests might not be the clearest since currently I have 'fail to malloc/realloc' tests that use some arbitrary large value 1L << 62

I was going to switch to throwing exceptions from the jni binding as opposed to Java and add some tests passing Long.MaxValue. So while we wo

[2015-06-17 13:36] densh commented on #61
Throwing exception from JNI side might overcomplicate it. Is there any way to avoid it and do the checks on Java side before things get to JNI? Maybe introduce some dummy only-for-tests bindings to avoid complicating the actual bindings?

I think that  re-using IllegalArgumentException is fine for this use-case.  That's what region allocators do at the moment.

[2015-06-18 01:00] arosenberger commented on #61
I can try to constrain things to the Java side, but the JNI environment has support for throwing exceptions  and I think it would be easier to have those checks there. So the jemalloc wrapper would be a very thin shell that just invokes the native methods. For example the sun.misc.Unsafe native implementation is what throws IllegalArgumentException and OutOfMemoryError via the JNI environment. I'l

[2015-06-18 10:41] densh commented on #61
@arosenberger If you feel it's it indeed easier, go for it.

[2015-07-03 08:29] densh opened #71 "Optimize boolean arrays to use 1 bit per element rather than 1 byte"
Currently we use quite inefficient scheme for storing booleans in arrays storing 1 byte per element. It shouldn't be too hard to shrink that overhead to 1 bit per element.

[2015-07-03 17:23] andreaTP commented on #71
:+1:

[2015-07-18 16:57] arosenberger commented on #39
@densh I'm unsure if there is a way to do the filter efficiently from avoiding either
- double pass through the source array (to determine the size of the filtered array)
- multiple potential resizes of a new memory area if we size the filtered array memory up front

Could be I'm missing something - what do you think?

[2015-07-19 11:41] densh commented on #39
`filter` on array is indeed hard (impossible?) to implement efficiently if you have to return array as the result of the filter. Something like vectors would probably fare much better as you could re-use the same memory and just change the structure of the tree without copying things excessively.

I think the rule of thumb for scala-offheap should be if we can't implement something efficiently we

[2015-07-19 11:43] densh commented on #9
Another use-case: efficient implementation of size-changing operations on arrays like `filter` as discussed in https://github.com/densh/scala-offheap/issues/39#issuecomment-122563866

[2015-07-20 13:23] arosenberger commented on #39
I've got a close to working implementation of filter that does a malloc with the length of the original array, adds elements as they pass the predicate, then a final realloc to the actual filtered element count. We can run some jmh benchmarks on different array sizes vs some baselines like on-heap array filter or e.g. offheap map. We can throw it away if it looks to be too slow.

[2015-07-20 14:17] densh commented on #39
The problem is that it needs to work for any allocator (that is taken as an implicit parameter to all allocating methods), not just `malloc`. Region allocators don't support `free` and `realloc` at all for example. You can always just allocate new copy on every next iteration but that might massively over-allocate memory for big arrays.

Looking forward to jmh performance comparison anyway, maybe

[2015-07-20 14:27] DarkDimius commented on #39
A trick can be done to speed this up: allocate array of longs, that has size of original array divided by 64, and set bit if predicate passes. Why longs? That's because you can collect a batch of 64 tests of predicate and make a single write. Additionally, you would maintain a counter of how many tests have succeeded. Than have a second pass that actually copies elements that have the bit set.

Yo

[2015-07-27 09:51] densh opened #73 "Drop support for Java 6"

[2015-07-27 10:41] densh commented on #71
Boolean arrays in C also use 1 byte per element. If we want to have C-friendly data layout we have to stick to this convention. I think it's better to have a separate BitSet implementation for this use case like the one @andreaTP has been working on.

[2015-07-27 10:41] #71 closed

[2015-07-27 10:51] densh commented on #73
Some motivation: it has been EOL for ages and supporting it is problematic for upcoming `jemalloc` bindings.

[2015-07-27 10:59] #73 closed

[2015-07-27 11:25] densh commented on #61
@arosenberger I've rebased topic/jemalloc on top of latest master excluding all of the merge commits. Previous state of the branch is available in topic/jemalloc-pre-rebase.

[2015-07-27 12:24] #55 closed

[2015-07-27 12:47] densh commented on #39
@DarkDimius That's an excellent idea, we need to try that.
@arosenberger Any progress in this area yet? I was planning to split this large issue into smaller one-method-per-issue ones.

[2015-07-27 13:15] arosenberger commented on #39
@DarkDimius Thanks for the suggestion, I will try that as a variant
@densh I've got this close but haven't had a chance to look in a few days. Right now I get errors when I try to run the test I put in place with the following code. Any chance you could spot check and see if something is obviously incorrect? https://gist.github.com/arosenberger/9b00492e94abf6910a38

[2015-07-27 13:37] densh commented on #39
@arosenberger It looks like you might be forgetting to call `.symbol` in a number of places. `freshVal` and `freshVar` return val definition, not an identifier.

[2015-07-30 00:20] arosenberger commented on #39
@densh I cleaned this up some and got a test mostly passing. But I'm unsure as to what I'm doing wrong for the final array size/length. It is possible that the realloc is not actually shrinking the allocated memory, or more likely I've not set things correctly in the macro body. I'll add some debug code to the jni binding on my other machine and test.

Gist is updated, and this test produces this

[2015-07-30 08:59] densh commented on #39
@arosenberger Reallocate takes number of bytes, not elements. You need to multiply computed size on sizeOf of element type.

[2015-07-30 11:22] arosenberger commented on #39
@densh I believe I'm doing so. This is the size argument I'm passing to reallocate:

${newArrayFinalSize.symbol} = $sizeOfHeader + ${strideOf(A)} * ${newArrayIndex.symbol}

[2015-08-01 18:03] arosenberger commented on #39
@densh First pull request opened for filter. Going to switch to other requested array methods before trying to optimize filter implementation

[2015-08-04 07:48] siriux commented on #4
What about having an additional array (or some kind of hash table) of real on-heap references, and you just point to this table from the off-heap objects? This of course, would be hidden under the implementation, and the user wouldn't see it.

This has the advantage of being extremely simple, and plays well with GC. On the other hand, you introduce one more indirection, but it might be really smal

[2015-08-10 09:43] densh commented on #4
@siriux

It does play well with GC but how do you clean it up? If you just add stuff to one global array and leave it there forever it means that those objects and their transitive closure will never be garbage collected. That's a memory leak in the making.

It might be possible to make those arrays region-local though. But this will require some extra memory overhead to remember corresponding reg

[2015-08-10 10:40] siriux commented on #4
@densh

Sorry I didn't make it clear in the previous comment, but I was thinking about region-based allocation. In this case, you have one array per region, and when the region goes out of scope (or is explicitly deleted) you can clean the whole array too. In that case is really simple and there is almost no overhead (just a pointer from the region to the array, and maybe some other minor things).

[2015-08-10 12:12] densh opened #78 "Add support for Array.filter"

[2015-08-10 12:13] densh opened #79 "Add support for Array.foldLeft and Array.foldRight"

[2015-08-10 12:14] densh opened #80 "Add support for Array.forall and Array.exists"

[2015-08-10 12:15] densh opened #81 "Add support for Array.startsWith and Array.endsWith"

[2015-08-10 12:16] densh opened #82 "Add support for Array.sameElements"

[2015-08-10 12:16] densh commented on #39
I'm splitting this ticket into a number of smaller actionable tickets:

* https://github.com/densh/scala-offheap/issues/78
* https://github.com/densh/scala-offheap/issues/79
* https://github.com/densh/scala-offheap/issues/80
* https://github.com/densh/scala-offheap/issues/81
* https://github.com/densh/scala-offheap/issues/82

[2015-08-10 12:16] #39 closed

[2015-08-10 12:19] densh commented on #78
We  currently have an outstanding PR with initial implementation in https://github.com/densh/scala-offheap/pull/76

A suggestion for potentially faster two-pass version was given in https://github.com/densh/scala-offheap/issues/39#issuecomment-122902475

[2015-08-10 12:39] densh commented on #30
An interesting development in more or less this area: https://google.github.io/flatbuffers/

[2015-08-10 14:41] velvia commented on #30
FYI I have a project to support fast Scala collections over FlatBuffers:  github.com/velvia/filo

-Evan
"Never doubt that a small group of thoughtful, committed citizens can change the world" - M. Mead

[2015-10-29 16:56] densh commented on #31
Fixed in https://github.com/densh/scala-offheap/pull/84

[2015-10-29 16:56] #31 closed

[2015-10-29 17:07] densh commented on #80
Fixed in https://github.com/densh/scala-offheap/pull/83 by @arosenberger

[2015-10-29 17:07] #80 closed

[2015-10-29 17:07] densh commented on #78
Fixed in https://github.com/densh/scala-offheap/pull/76 by @arosenberger

[2015-10-29 17:07] #78 closed

[2015-11-09 13:06] florv opened #87 "Allow overriding of automatically generated members of @data classes"
It would be nice if it was possible to override automatically generated members of `@data` classes.
It will then be possible to compile something like this bare example:

	@data class A(a: Int, b: Int) {
	  def toString(): String = {
	    "foo"
	  }

	  def copy()(implicit a: Allocator): A = {
	    A(a, b)
	  }
	}

[2015-11-11 12:19] densh commented on #87
This makes sense, it shouldn't be hard to make macro annotations let user define their own implementations of some of the pre-generated methods.

[2015-11-16 12:33] densh commented on #29
Apart from extra parameter for `allocate` it would also be a good idea to add new `@align(n)` annotation that can be used to annotate off-heap classes and their fields to have specific alignment.

[2015-11-19 15:17] densh opened #89 "Consider adding finer-grain control over field layout"
Currently we only support automatically aligned C-like struct layout. For some use-cases it might beneficial to provide more fine-grain control then that:

* Let user specify alignment of specific fields
* Let user provide specific offsets for given fields
* Let user define unaligned off-heap classes

From UI standpoint it might look like a few extra annotations (e.g. `@unaligned`, `@align(n)`, `@

[2015-11-19 15:17] densh commented on #29
`@align(n)` idea deserves a separate issue https://github.com/densh/scala-offheap/issues/89.

[2015-11-20 11:45] #29 closed

[2015-11-20 11:47] densh opened #90 "Size, Addr and Alignment should all be wrapped into value types"
Currently they just alias corresponding integer data types. It would be much better to wrap them into value classes instead. This has some issue wrt the fact that value classes can not wrap other value classes but we should be able to solve them on our side.

[2016-02-23 16:55] BrianLondon commented on #19
Shamelessly bumping this.  There are a few large frameworks that don't work with 2.11 yet.

[2016-03-01 04:01] mdedetrich commented on #19
Considering to use scala-offheap for the scala json AST implementation (to improve performance of `.toSafe` and `.toFast` methods), however we cant use scala-offheap if it doesn't support Scala 2.10

[2016-03-01 04:04] mdedetrich opened #94 "Add a method to detect if unsafe is supported"
Certain environments (such as Google App Engine) disallow the use of `sun.misc.unsafe` due to security issues. It would be great if scala-offheap provided a very simply function that returns a boolean to see if `unsafe` is supported (and hence offheap can be used)

[2016-03-07 18:12] adamwy opened #96 "Add support for Array.transform"
Based on mutable [Seq.transform](http://www.scala-lang.org/api/2.11.7/index.html#scala.collection.mutable.Seq@transform(f:A=>A):SeqLike.this.type). I think that transform method (mapping in place) would be very useful in the context of off-heap arrays.

[2016-03-10 19:28] adam-wyluda opened #97 "Add support for Array.reduceLeft and Array.reduceRight"

[2016-03-10 19:33] adamwy opened #98 "Consider adding support for Array.scanLeft and Array.scanRight"
Scan the array from left/right with cumulative results as off-heap arrays.

[2016-03-10 20:15] adam-wyluda opened #99 "Consider adding support for Array.sortWith"
The implementation could be based on [util.Sorting.quickSort](https://github.com/scala/scala/blob/v2.11.7/src/library/scala/util/Sorting.scala#L55).

I'm not sure if we should also support sortBy function, since it would require client to provide a reference to an on-heap implementation of Ordering typeclass. Perhaps our interface of sortWith (or we could name it just as "sort" in that case) could

[2016-03-11 17:49] adamwy opened #100 "Consider adding an off-heap Option"
It would work like one-element off-heap array. Option.empty would be just a null reference, otherwise it will point to address containing value of this Option.

The use case for this class is return value of some off-heap collection methods, such as find or get in Map.

[2016-03-11 17:58] adamwy opened #101 "Consider adding support for Array.find"
Find first element fulfilling given predicate. If no value is found then it will return either empty/null value of data class or empty Option proposed in #100.

[2016-03-11 18:05] adamwy commented on #100
Also the benefit of having an Option as a return type for methods, is that it can dereference primitive type values to memory instead of returning them directly, which effectively allows us to have null references of the primitives.

[2016-03-14 15:12] adamwy commented on #101
Alternatively we could have Array.indexWhere which returns index of the found element or -1 in other case.

[2016-03-15 09:34] densh commented on #94
Sounds good. I think `offheap.Memory` module is a good place for a check like that.

[2016-03-15 09:35] densh commented on #96
Agreed.

[2016-03-15 09:35] densh commented on #97
We definitely need those.

[2016-03-15 09:36] densh commented on #100
Sounds good to me.

[2016-03-15 11:43] #94 closed

[2016-03-15 13:58] densh commented on #82
Fixed in #95

[2016-03-15 13:58] #82 closed

[2016-03-15 21:23] adamwy opened #104 "Consider adding support for Array.take(Right), Array.drop(Right) and Array.slice"

[2016-03-16 02:04] mdedetrich commented on #19
In reference to https://github.com/densh/scala-offheap/issues/19#issuecomment-190529052, for myself the issue is not that critical anymore due to https://github.com/densh/scala-offheap/issues/15 (I can't use offheap until it supports Strings)

[2016-03-16 19:13] adamwy opened #105 "Add support for off-heap set"
It should support following basic operations:

- `apply` - check if argument is contained in this set
- `add`
- `remove`
- `foreach`
- `transform`
- `map`
- `toSet`

Implementation could use ideas from non/debox Set:
https://github.com/non/debox/blob/master/src/main/scala/debox/Set.scala

[2016-03-16 19:24] adamwy opened #106 "Add support for off-heap map"
It should support following basic operations:

- `update` - put element at given key
- `get` / `apply` - return underlying value in an Option
- `contains`
- `remove`
- `foreach`
- `map`
- `mapValues`
- `transform`
- `transformValues`
- `toMap`

The implementation could be split to support both referenced and embedded values.

Implementation could use ideas from non/debox Map:
https://github.com/no

[2016-03-17 08:37] densh commented on #104
:+1:

[2016-03-17 08:37] densh commented on #101
:+1:

[2016-04-18 09:46] #79 closed

[2016-04-18 09:46] #81 closed

[2016-04-18 09:46] #96 closed

[2016-06-28 15:27] densh commented on #1
Given absolutely no interest in this I'm closing the issue.

[2016-06-28 15:27] #1 closed

[2016-06-28 15:28] densh commented on #22
This idea is a better fit for Scala Native project https://github.com/scala-native/scala-native/issues/44

[2016-06-28 15:28] #22 closed

[2016-06-28 15:36] densh commented on #61
Historical summary of what happened in this issue:

1. @arosenberger did a great job at implementing bindings for jemalloc via JNI.
2. We were stuck with close to no tooling support to distribute and support this code on the JVM ecosystem. All the known ways are hack-ish and there is no proper way to do it. Neither `sbt` nor `maven` have any awareness of the native side of the JNI world.
3. Given

[2016-06-28 15:36] #61 closed

[2016-06-28 15:36] densh commented on #49
Given no interest in this I'm closing the issue.

[2016-06-28 15:36] #49 closed

[2016-06-28 15:38] densh commented on #47
Given little to no interest I'm closing the issue. At the same time we're likely to have fixed-size arrays in Scala Native for interop reasons. https://github.com/scala-native/scala-native/issues/35

[2016-06-28 15:38] #47 closed

[2016-06-28 15:38] #16 closed

[2016-06-28 15:39] #89 closed

[2016-06-28 15:39] #33 closed

[2016-06-28 15:39] densh commented on #28
Not enough interest.

[2016-06-28 15:39] #28 closed

[2016-06-28 15:39] densh commented on #5
Not enough interest in the feature.

[2016-06-28 15:39] #5 closed

[2016-06-28 15:40] densh commented on #4
Impossible to implement efficiently, therefore we're not going to support his.

[2016-06-28 15:40] #4 closed

[2016-06-28 15:41] #60 closed

[2016-06-28 15:42] densh commented on #30
People should use normal serialisation frameworks instead.

[2016-06-28 15:42] #30 closed

[2016-06-28 15:43] densh commented on #19
Given that 2.12 is going to be released soon, we don't have enough resources to invest in 2.10 support.

[2016-06-28 15:43] #19 closed

[2016-09-22 16:19] sirinath opened #111 "Support Multiple Dimensions for Arrays"
Support of multiple dimensions for Arrays would be very useful

[2016-11-28 13:42] jeroentervoorde opened #112 ""class [name of @data class] must be defined before it's used" compilation error"
This happens in certain cases when the data class is defined in a different file from where it is used.

Reproducer:
https://github.com/jeroentervoorde/offheap-error-reproducer

[2017-01-17 13:01] fomkin opened #113 "2.12 support"
Do you have any plans to add Scala 2.12 support?

[2017-01-24 18:56] l15k4 opened #114 "Too high on-heap memory and GC overhead"
Hey,

I think that the value classes that hold allocation address put significant on-heap memory and GC overhead :
[code]

This ends up with `java.lang.OutOfMemoryError: GC overhead limit exceeded` even if I use `-Xmx4096` even though theoretically it should need only `Int.MaxValue/16 * 8` so `-Xmx2048m` tops

If I measure the resulting Array using [SizeEstimator.scala](https://github.com/apache/s

[2017-01-24 19:49] DarkDimius commented on #114
Scala currently stores arrays of value classes in a boxed representation, and, I'd assume, that by the time scala-native comes, there's not much one can do with it.

Dotty had a prototype in works that would support storing arrays of value classes efficiently
https://github.com/lampepfl/dotty/pull/1228

[2017-01-24 21:52] l15k4 commented on #114
Yeah I just figured, that is a total bummer. It completely ruins all my plans I had with scala-offheap actually because what's the point of keeping stuff off-heap if it has a corresponding on-heap representation? Considering the fact that even "Offheap Classes" desugar down to value classes, scala-offheap has a very limited use case imho... It could have been a beginning of a beautiful friendship

[2017-01-24 22:10] l15k4 commented on #114
Good to know, thanks!

[2017-01-24 22:10] #114 closed

[2017-01-24 22:31] l15k4 commented on #47
Hey, making fixed size arrays `Allocatable` would be also useful in order to be able to build arrays of arrays and thus be able to introduce other collections types like Maps.

https://github.com/densh/scala-offheap/issues/114

[2017-09-15 09:01] daron666 commented on #113
I would appreciate 2.12 support too.

[2018-04-06 15:30] satabin commented on #113
BTW, I forked the project and bumped version numbers (sbt, scala, dependencies), is there any interest to merge these changes here and publish new artefacts?

[2019-03-28 20:03] lolgab commented on #113
I made a PR with Scala 2.12 support: https://github.com/densh/scala-offheap/pull/115

[2019-11-30 03:47] performantdata commented on #113
Is this not closed? The PR is merged.

[2019-11-30 04:34] performantdata commented on #113
Ah. I see that 2.12 hasn't been pushed to Maven Central yet. So this sort of isn't finished yet.

[2019-11-30 21:47] performantdata commented on #113
@densh, could you publish this to Sonatype? I'm guessing that it has to be you, and probably requires a 0.2 release.